.game-creator-view {
  text-align: center;
}

.input-group {
  margin: 20px 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.input-group table {
  max-height: 400px;
}

.gamecreator-select {
  width: 300px;
}

.add-player-input {
  width: 200px;
}

.add-player-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
}