.number-input {
  max-width: 50px;
  font-weight: bold;
  background-color: white;
}
.number-input>div>input {
  height: 12px;
  border: none;
}
.button-group>button {
  border: none !important;
}
.button-group>div {
  border: none !important;
}
.dirty-score > div > input {
  color: green !important;
  font-weight: bolder;
}


.button-group {
  width: 150px
}